canvas {
	display: block;
	background: #086e36;
	margin: 0 auto 16px;
}

.score {
	text-align: center;
}

/* .bold {
	font-weight: bold;
} */

fieldset {
	box-sizing: border-box;
	width: 400px;
	margin: 0 auto;
	padding: 0;
}

fieldset p {
	display: block;
	width: 200px;
	margin: 16px auto;
}

fieldset br + input {
	margin-top: 12px;
}