body {
	font-family: sans-serif;
}

.container {
	margin: 0px auto;
}

p {
	margin: 12px auto;
}

canvas {
	display: block;
	background: #086e36;
	margin: 0 auto 12px;
}

.score {
	text-align: center;
}

fieldset {
	box-sizing: border-box;
	width: 360px;
	margin: 0 auto;
	padding: 0;
}

fieldset p {
	display: block;
	width: 200px;
}

fieldset br + input {
	margin-top: 12px;
}