body {
	font-family: sans-serif;
}

.container {
	margin: 20px auto;
	text-align: center;
}

p {
	margin: 10px auto;
}

canvas {
	display: block;
	background: #086e36;
	margin: 0 auto 10px;
}

.button-container {
	/* 内側の要素に合わせて横に広がってほしいのでinline-blockを設定 */
	display: inline-block;
	margin-bottom: 10px;
}

fieldset {
	box-sizing: border-box;
	width: 360px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

fieldset p {
	width: 200px;
}

fieldset br + input {
	margin-top: 10px;
}